@font-face {
  font-family: "mplus";
  src: url(../fonts/mplus-1p-regular.ttf);
}
@font-face {
  font-family: "mplusbold";
  src: url(../fonts/mplus-1p-bold.ttf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.center, .tools > li,
.account_item, .title_md, .name,
.position {
  text-align: center;
}

.mb16 {
  margin-bottom: 16px;
}

.mb24 {
  margin-bottom: 24px;
}

.mb64 {
  margin-bottom: 64px;
}

body {
  font-family: "mplus";
  font-size: 16px;
  letter-spacing: 0.08em;
  line-height: 1.8;
  color: #222;
}

ul {
  list-style-type: none;
}

header {
  background: url(../images/p1041.jpg) no-repeat;
  background-position: 50%;
  width: auto;
  height: 650px;
}

.filter {
  background-color: rgba(240, 219, 0, 0.4);
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100%;
}

.site_title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 60%;
  margin: 0 auto;
}

.name,
.position {
  color: #fff;
}

.name {
  font-size: 48px;
  margin-bottom: 32px;
}
@media screen and (max-width: 600px) {
  .name {
    font-size: 40px;
  }
}
@media screen and (max-width: 414px) {
  .name {
    font-size: 32px;
  }
}

.position {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 32px;
}
@media screen and (max-width: 600px) {
  .position {
    font-size: 22px;
  }
}
@media screen and (max-width: 414px) {
  .position {
    font-size: 20px;
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 100%;
}

.menu > li {
  font-weight: 700;
}

.menu_item {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
}
@media screen and (max-width: 600px) {
  .menu_item {
    font-size: 20px;
  }
}
@media screen and (max-width: 414px) {
  .menu_item {
    font-size: 18px;
  }
}

.contents {
  margin: 7em auto;
  max-width: 1024px;
  width: 80%;
}

.profile {
  margin-bottom: 80px;
}

hr {
  background-color: #f0db00;
  border: none;
  border-radius: 2px;
  margin: 8px auto 48px auto;
  width: 104px;
  height: 4px;
}

.profile_inner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.marker_wrap {
  font-size: 20px;
  margin-bottom: 20px;
}

.marker {
  background: linear-gradient(transparent 60%, #e9c3ea 60%);
}

.icon {
  border-radius: 50%;
  margin-right: 32px;
  width: 120px;
  height: 120px;
}

.title_md {
  margin-bottom: 32px;
}

.tools {
  display: flex;
  flex-flow: row wrap;
}
@media screen and (max-width: 600px) {
  .tools {
    justify-content: space-between;
    gap: 1.2em;
  }
}
@media screen and (max-width: 540px) {
  .tools {
    gap: 1em;
  }
}

.tools > li,
.account_item {
  width: 20%;
}
@media screen and (max-width: 600px) {
  .tools > li,
.account_item {
    width: 30%;
  }
}

.tools_item {
  width: 80%;
}

.clickable {
  margin-bottom: 16px;
}

.works::after {
  content: "";
  clear: both;
  display: block;
}

.example {
  float: left;
  margin-right: 32px;
  width: 24%;
}
@media screen and (max-width: 600px) {
  .example {
    width: 30%;
  }
}

.example_img {
  width: 100%;
}

.d_flex {
  display: flex;
}
@media screen and (max-width: 600px) {
  .d_flex {
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  .mq600_work .clickable {
    text-align: center;
  }
}

.search_lowest_price {
  width: 80%;
}
@media screen and (max-width: 600px) {
  .search_lowest_price {
    width: 100%;
    margin: auto;
  }
}

.search_lowest_price_link {
  width: 90%;
  display: block;
}
@media screen and (max-width: 600px) {
  .search_lowest_price_link {
    width: 100%;
  }
}

.search_lowest_price_img {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .works_description {
    margin-top: 18px;
  }
}

.search_lowest_price + .works_description .marker_wrap {
  text-align: center;
}

.design {
  display: block;
}

.account {
  display: flex;
  justify-content: space-around;
}

.account_icon {
  width: 100%;
}

.contact {
  background-color: #222;
  padding: 24px 0 64px 0;
}

.white {
  color: #fff;
}

.address {
  background-color: #fff;
  font-size: 24px;
  display: inline-block;
  padding: 8px;
}

footer {
  background-color: #222;
  color: #fff;
  padding: 8px 16px;
  text-align: right;
}

@media screen and (max-width: 414px) {
  header {
    height: 520px;
  }

  .site_title {
    width: 80%;
  }

  .title {
    font-size: 32px;
  }

  hr {
    margin: 8px auto 24px auto;
  }

  .profile_inner {
    flex-wrap: wrap;
  }

  .icon {
    margin: 0 0 16px 0;
  }

  .address {
    font-size: 16px;
  }
}