@charset "utf-8";

@font-face {
    font-family: 'mplus';
    src: url(../fonts/mplus-1p-regular.ttf);
}

@font-face {
    font-family: 'mplusbold';
    src: url(../fonts/mplus-1p-bold.ttf);
}

$base_color: #fff;
$main_color: #222;
$sp_img_width: 30%;

$breakpoints: (
    "xs": "screen and (max-width: 414px)",
    "sm": "screen and (max-width: 540px)",
    "md": "screen and (max-width: 600px)",
) !default;

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.center {
    text-align: center;
}

.mb16 {
    margin-bottom: 16px;
}

.mb24 {
    margin-bottom: 24px;
}

.mb64 {
  margin-bottom: 64px;
}

body {
    font-family: 'mplus';
    font-size: 16px;
    letter-spacing: 0.08em;
    line-height: 1.8;
    color: $main_color;
}

ul {
    list-style-type: none;
}

header {
    background: url(../images/p1041.jpg) no-repeat;
    background-position: 50%;
    width: auto;
    height: 650px;
}

.filter {
    background-color: rgba(240, 219, 0, 0.4);
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100%;
}

.site_title {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 60%;
    margin: 0 auto;
}

.name,
.position {
    color: $base_color;
    @extend .center;
}

.name {
    font-size: 48px;
    margin-bottom: 32px;
    @include mq(md) {
      font-size: 40px;
    }
    @include mq(xs) {
      font-size: 32px;
    }
}

.position {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 32px;
    @include mq(md) {
      font-size: 22px;
    }
    @include mq(xs) {
      font-size: 20px;
    }
}

.menu {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 100%;
}

.menu > li {
    font-weight: 700;
}

.menu_item {
    color: $base_color;
    font-size: 24px;
    text-decoration: none;
    @include mq(md) {
      font-size: 20px;
    }
    @include mq(xs) {
      font-size: 18px;
    }
}

.contents {
    margin: 7em auto;
    max-width: 1024px;
    width: 80%;
}

.profile {
    margin-bottom: 80px;
}

hr {
    background-color: #f0db00;
    border: none;
    border-radius: 2px;
    margin: 8px auto 48px auto;
    width: 104px;
    height: 4px;
}

.profile_inner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.marker_wrap {
    font-size: 20px;
    margin-bottom: 20px;
}

.marker {
    background: linear-gradient(transparent 60%, #e9c3ea 60%);
}

.icon {
    border-radius: 50%;
    margin-right: 32px;
    width: 120px;
    height: 120px;
}

.title_md {
    @extend .center;
    margin-bottom: 32px;
}

.tools {
    display: flex;
    flex-flow: row wrap;
    @include mq(md) {
      justify-content: space-between;
      gap: 1.2em;
    }
    @include mq(sm) {
      gap: 1em;
    }
}

.tools > li,
.account_item {
    @extend .center;
    width: 20%;
    @include mq(md) {
      width: $sp_img_width;
    }
}

.tools_item {
    width: 80%;
}

.clickable {
    margin-bottom: 16px;
}

.works::after {
    content: "";
    clear: both;
    display: block;
}

.example {
    float: left;
    margin-right: 32px;
    width: 24%;
    @include mq(md) {
      width: $sp_img_width;
    }
}

.example_img {
    width: 100%;
}

.d_flex {
  display: flex;
  @include mq(md) {
    flex-direction: column;
  }
}

.mq600_work {
  @include mq(md) {
    .clickable {
      text-align: center;
    }
  }
}

.search_lowest_price {
  width: 80%;
  @include mq(md) {
    width: 100%;
    margin: auto;
  }
}

.search_lowest_price_link {
  width: 90%;
  display: block;
  @include mq(md) {
    width: 100%;
  }
}

.search_lowest_price_img {
  width: 100%;
}

.works_description {
  @include mq(md) {
    margin-top: 18px;
  }
}

.search_lowest_price + .works_description {
  .marker_wrap {
    text-align: center;
  }
}

.design {
    display: block;
}

.account {
    display: flex;
    justify-content: space-around;
}

.account_icon {
    width: 100%;
}

.contact {
    background-color: $main_color;
    padding: 24px 0 64px 0;
}

.white {
    color: $base_color;
}

.address {
    background-color: $base_color;
    font-size: 24px;
    display: inline-block;
    padding: 8px;
}

footer {
    background-color: $main_color;
    color: $base_color;
    padding: 8px 16px;
    text-align: right;
}

@include mq(xs) {
    header {
        height: 520px;
    }

    .site_title {
        width: 80%;
    }

    .title {
        font-size: 32px;
    }

    hr {
        margin: 8px auto 24px auto;
    }

    .profile_inner {
        flex-wrap: wrap;
    }

    .icon {
        margin: 0 0 16px 0;
    }

    .address {
        font-size: 16px;
    }
}
